page-forms {
    html{
        font-family: sans-serif;
    }
    #background{
        width: 100%;
        height: 100%;
        border: 2px dotted black;
    }
   
    #rows{
        width: 100%;
        height: calc(100% - 150px);
        justify-content: center;
       /* align-items: center;*/
       flex-wrap: wrap;
    }
    #arrowbox{
        width: 50px;
        height: 50px;
    }
    #arrowimage{
        width:100%;
        height:100%;
        padding-left:12px;
    }
    .hovercamText{
        color:white;
        font-size: 20px;
    }

    #arrowbox{
        width: 50px;
        height: 50px;
    }

    .content_line1{
        height: 60px;  
        width: 100%;
        margin-left: 20px;
    }

    .content_line2{
        height: 20px;
        widows: 100%;
        margin-left: 20px;
    }

    .line_text{
        font-family: Helvetica;
        font-size: 28px;
        color: #666a70;
    }

    // #footer
    // {
    //     width:100%;
    //     height:80px;
    //     border: 1px solid black;
    //     display: flex;
    
        
    // }
    
}
