header {
    #header{
        width: 100%;
        height: 70px;
        /*border: 1px solid green;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #profilebox{
        width: 30%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-end; 
    }
    #spacebox{
        width:25%;
        height: 70px;
    }
    #textbox{
        width: 45%;
        height: 70px;
        display: Flex;
        justify-content: center;
        align-items: flex-end;
    }
    #divider_box{
        width: 100%;
        height: 3px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #divider{
        width:90%;
        height: 2px;
        background-color: gray;
    }
    #profile_circle{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        /*border: 2px solid blue;*/
    }
    #profile{
        width: 50px;
        height: 50px;
        border-radius: 50px;

    }
    .sidenav{
        height: 100%;
        width:0;
        position: fixed;
        opacity: 0.8;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }
    .sidenav .closebutton{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
} 
