<div id="header">
    <div id="profilebox">
        <div id= "profile_circle">
            <img src= "../../assets/icon/Icons/Menu/avi-large.png" id= "profile" (click)="toggleMenu()">
        </div>
    </div>
    <div id="spacebox">
    </div>
    <div id="textbox">
        <h1 id="title">
            <b>{{headerTitle}}</b>
        </h1>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div id= "sidenav_header">
        <div id= "sidenav_profilebox">
                    <img src= "../../assets/icon/Icons/Menu/avi-large.png" id= "sidenav_profile" (click)="toggleMenu()">
        </div>
        <div id= "sidenav_name">
            <div id= "sidenav_name_name">
                Branricarl
            </div>
            <div id= "sidenav_name_company">
                Pathway Innovations and Technologies, inc.
            </div>
        </div>    
    </div>
    <div id="divider_box">
            <div id="divider">
                
            </div>
    </div>
    <div id= "sidenav_body">
        <div class= "sidenav_row">
            <div class= "sidenav_row_content">
                <div class= "sidenav_row_picturebox">
                    <img src= "../../assets/icon/Icons/Menu/avi-small.png" class= "sidenav_row_picture">
                </div>
                <div class= "sidenav_row_text">
                    Profile
                </div>
            </div>
        </div>
        <div class= "sidenav_row">
            <div class= "sidenav_row_content">
                <div class= "sidenav_row_picturebox">
                    <img src= "../../assets/icon/Icons/Menu/messages.png" class= "sidenav_row_picture">
                </div>
                <div class= "sidenav_row_text">
                    Messages
                </div>
            </div>
        </div>
        <div class= "sidenav_row">
            <div class= "sidenav_row_content">
                <div class= "sidenav_row_picturebox">
                    <img src= "../../assets/icon/Icons/Home/search.png" class= "sidenav_row_picture">
                </div>
                <div class= "sidenav_row_text">
                    Search
                </div>
            </div>
        </div>
        <div class= "sidenav_row">
            <div class= "sidenav_row_content">
                <div class= "sidenav_row_picturebox">
                    <img src= "../../assets/icon/Icons/Menu/pricing.png" class= "sidenav_row_picture">
                </div>
                <div class= "sidenav_row_text">
                    Pricing
                </div>
            </div>
        </div>  
    </div>
</div>

<div id="divider_box">
    <div id="divider">

    </div>
</div>

