header {
    #header{
        width: 100%;
        height: 70px;
        /*border: 1px solid green;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #profilebox{
        width: 30%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: flex-end; 
    }
    #spacebox{
        width:25%;
        height: 70px;
    }
    #textbox{
        width: 45%;
        height: 70px;
        display: Flex;
        justify-content: center;
        align-items: flex-end;
    }
    #divider_box{
        width: 100%;
        height: 3px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #divider{
        width:90%;
        height: 2px;
        background-color: gray;
    }
    #profile_circle{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        /*border: 2px solid blue;*/
    }
    #profile{
        width: 50px;
        height: 50px;
        border-radius: 50px;

    }
    .sidenav{
        height: 100%;
        width:0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        overflow-x: hidden;
        transition: 0.5s;
        z-index: 2;
        
    }
    #sidenav_profilebox{
        height: 100%;
        width: 45%;
        // border: 0.1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #sidenav_profile{
        height: 90px;
        width: 90px;
        cursor: pointer;

    }
    #sidenav_header{
        height: 22.5%;
        // border: 0.1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #sidenav_name{
        height: 100%;
        width: 55%;
        // border: 0.1px solid black;
    }
    #sidenav_name_name{
        height: 50%;
        // border: 0.1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        padding-top: 35%;
        margin: 5px;
    }
    #sidenav_name_company{
        height: 50%;
        // border: 0.1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        padding-bottom: 12%;
    }
    #sidenav_body{
        width: 100%;
        height: 77.5%;
        margin-top: 7.5%;

    }
    .sidenav_row{
        width: 100%;
        height: 20%;
        margin-left: 10%;
    }
    .sidenav_row_content{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .sidenav_row_picturebox{
        width: 20%;
        height: auto;
    }
    .sidenav_row_picture{
        width: 30px;
        height: 30px;
    }
    .sidenav_row_text{
        width: 80%;
        font-size: 25px;
    }
}
