<!-- Generated template for the HeaderComponent component -->
<div id="header">
    <div id="profilebox">
        <div id= "profile_circle">
                <img src= "../../assets/icon/Icons/Header/avi.png" id= "profile" (click)="toggleMenu()">
        </div>
    </div>
    <div id="spacebox">
    </div>
    <div id="textbox">
        <h1 id="title">
            <b>{{headerTitle}}</b>
        </h1>
    </div>
</div>
<div id="mySidenav" class="sidenav">
    <div id= "sidenav_header">
        <div id= "sidenav_profilebox">
                    <img src= "../../assets/icon/Icons/Header/avi.png" id= "sidenav_profile" (click)="toggleMenu()">
        </div>
        <div id= "sidenav_name">
            <div id= "sidenav_name_name">
                Branricarl
            </div>
            <div id= "sidenav_name_company">
                HoverVan Pathway Things asdfasjdfkjdsakfjdkf jakdfjdskfjaskdjfkdsj afkdjfkdsjafkjf dkafjskdjfk
            </div>
        </div>
            <!-- <div id="divider_box">
                <div id="divider">
                
                </div>
            </div>
        -->
</div>
</div>

<div id="divider_box">
    <div id="divider">

    </div>
</div>

