<div id="footer">
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToHomePage()">
                <img id="img_products" src="../../assets/icon/Icons/Bottom-row/products.png " class="icons">
            </div>
        </div>
        <div class="label">
            <p>Products</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToFormsPage()">
                <img id="img_forms" src="../../assets/icon/Icons/Bottom-row/forms.png" class="icons">   
            </div>
         </div>
         <div class="label">
                <p>Forms</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToFeedPage()">
                <img id="img_home" src="../../assets/icon/Icons/Bottom-row/home.png" class="icons">
            </div>
         </div>
         <div class="label">
                <p>Home</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToSupportPage()">
                <img id="img_support" src="../../assets/icon/Icons/Bottom-row/support.png" class="icons">
             </div>
        </div>
        <div class="label">
                <p>Support</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle"(click)="goToMessagesPage()">
                    <img  id="img_messages" src="../../assets/icon/Icons/Bottom-row/messages.png" class="icons">
             </div>
        </div>
        <div class="label">
                <p>Messages</p>
            </div>
    </div>
 </div>
