<div id="footer">
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToHomePage()">
                <img id="img_products" src="{{product_path}}" class="icons">
            </div>
        </div>
        <div class="label">
            <p>Products</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToFormsPage()">
                <img id="img_forms" src="{{forms_path}}" class="icons">   
            </div>
         </div>
         <div class="label">
                <p>Forms</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToFeedPage()">
                <img id="img_home" src="{{home_path}}" class="icons">
            </div>
         </div>
         <div class="label">
                <p>Home</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle" (click)="goToSupportPage()">
                <img id="img_support" src="{{support_path}}" class="icons">
             </div>
        </div>
        <div class="label">
                <p>Support</p>
            </div>
    </div>
    <div class="circle_container">
        <div class="circle_box">
            <div class="circle"(click)="goToMessagesPage()">
                    <img  id="img_messages" src="{{messages_path}}" class="icons">
             </div>
        </div>
        <div class="label">
                <p>Messages</p>
            </div>
    </div>
 </div>
