footer {

    #footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        right:0;
        width:100%;
        height:60px;
        border: 1px solid black;
        display: flex;
    
        
    }
    .circle_container{
    
        /* width: 60px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: start; */
        width: 30%;
        height: 100%;
       
    }
    .circle_box{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction:column;
        justify-content: flex-end;
        align-items: center;
       
    }
    .label{
        width:100%;
        height:30%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .circle{
        width:30px;
        height:30px;
        border-radius: 30px;
        border: 1px solid black;
        cursor: pointer;
    }
    p{
        margin: 0px;
    }
    .icons
    {
        width: 100%;
        height:100%;
    }
}
