<!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
<i
  class="glyphicon"
  [class.glyphicon-star-empty]="glyphicon < 1"
  [class.glyphicon-star]="glyphicon >= 1"
  (click)="onClick(1)"
>
</i>
<i
  class="glyphicon"
  [class.glyphicon-star-empty]="glyphicon < 2"
  [class.glyphicon-star]="glyphicon >= 2"
  (click)="onClick(2)"
>
</i>
<i
  class="glyphicon"
  [class.glyphicon-star-empty]="glyphicon < 3"
  [class.glyphicon-star]="glyphicon >= 3"
  (click)="onClick(3)"
>
</i>
<i
  class="glyphicon"
  [class.glyphicon-star-empty]="glyphicon < 4"
  [class.glyphicon-star]="glyphicon >= 4"
  (click)="onClick(4)"
>
</i>
<i
  class="glyphicon"
  [class.glyphicon-star-empty]="glyphicon < 5"
  [class.glyphicon-star]="glyphicon >= 5"
  (click)="onClick(5)"
>
</i>

{{numOfReviews}}