scroll-item {
    .row_comp{
        width: 100%;
        height: 12.5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
    }
    .row_line_comp{
        width: 80%;
        height: 1px;
    }
    .row_line_container{
        width: 100%;
        height: 1px;
        display: flex;
        justify-content: center;
    }
}
